#filters {
  display: flex;
  align-items: center;

  margin-left: 1rem;
  flex-wrap: wrap;
}

#filters a {
  color: #212529;
  text-decoration: none;
}

.fliter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  opacity: 0.7;
}
.fliter:hover {
  opacity: 1;
  cursor: pointer;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border-radius: 0.5rem;
  height: 2.8rem;
  padding: 0.5rem;
  align-items: center;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.no-results {
  text-align: center;
  opacity: 0.7;
  /* border: 2px solid black; */
  margin-top: 2;
  padding: 1rem;
}
